<div class="login-form">

    <mat-card>

        <mat-card-header>
           
            <div style="text-align:center;">

            <mat-card-title>Iniciar Sesión en SASE29</mat-card-title>
            <mat-card-subtitle>29 Compañía CVB</mat-card-subtitle>
        </div>


        </mat-card-header>

        <mat-card-content>
            <h1>LOGIN</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            

            <mat-form-field class="full-width-input"  color="warn" >

                <input type="text" 
                formControlName="usuario"
                matInput placeholder="usuario" required/>

            </mat-form-field>

            <mat-form-field class="full-width-input separator"  color="warn">
                <input type="password" 
                formControlName="password"
                matInput placeholder="Password" required/>

            </mat-form-field>

            <button type="submit" mat-raised-button color="warn" >Login</button>

        </form>

        </mat-card-content>
       
    </mat-card>

</div>
